html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
  color: #333;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}

.sec-ttl {
  font-weight: 900;
  font-size: 6rem;
}

.btn {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 0 20px;
  margin: 0 auto;
  width: 220px;
}
.btn-txt {
  font-weight: 300;
  font-size: 3.2rem;
  font-style: italic;
}
.btn-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.5s;
}
.btn:hover .btn-icon {
  transform: scale(1.2);
  transition: transform 0.5s;
}