@use "../../../base/variable" as v;

.about {
  padding: 80px 0 180px;
  background: #222;
  position: relative;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 100vw 0 0;
    border-color: transparent #e7e7e7 transparent transparent;
  }
  &-ttl {
    font-style: italic;
    color: #fff;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    margin: 80px 0 0;
    gap: 20px 0;
    color: #fff;
  }
  &__txt {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    &-name {
      font-weight: 900;
      font-size: 3.2rem;
      font-style: italic;
      text-align: center;
    }
    &-desc {
      font-weight: 500;
      font-size: 2rem;
    }
  }
  &__thumb {
    width: 200px;
  }
  &__btn {
    margin: 60px 0 0;
    color: #fff;
  }
}
