@use "../../../base/variable" as v;

.works {
  padding: 120px 0 180px;
  position: relative;
  overflow-x: hidden;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 100vw 0 0;
    border-color: transparent #efefef transparent transparent;
    @include v.sm {
      border-width: 40px 100vw 0 0;
    }
  }
  .block {
    width: 250px;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @include v.sm {
      top: 58%;
      width: 100px;
      height: 100px;
    }
  }
  .circle {
    overflow: visible;
    animation: rotation 18s linear infinite;
    &__shape {
      fill: none;
    }
    &__txt {
      fill: #222;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.03em;
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &__inner {
    display: flex;
    position: relative;
    @include v.sm {
      flex-direction: column;
    }
    .splide {
      margin: 0 calc(50% - 50vw);
      width: 100vw;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      visibility: visible;
      @include v.sm {
        top: 60%;
        z-index: 5;
      }
      &__track {
        height: 100%;
      }
      &__list {
      }
      &__slide {
        height: 100%;
        font-weight: 900;
        font-size: 6rem;
        color: #e7e7e7;
        @include v.xl {
          font-size: 4rem;
        }
        @include v.lg {
          font-size: 3.2rem;
        }
        @include v.sm {
          font-size: 1.4rem;
        }
      }
    }
  }
  .left {
    align-self: flex-start;
    padding: 50px 40px;
    width: 50%;
    min-height: 420px;
    text-align: center;
    background: #e7e7e7;
    position: relative;
    z-index: 2;
    @include v.lg {
      padding: 50px 20px;
    }
    @include v.sm {
      width: 100%;
      z-index: 5;
    }
    .works {
      &-ttl {
        font-style: italic;
        @include v.sm {
          font-size: 4rem;
        }
      }
      &-desc {
        margin: 40px 0 0;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.8;
        @include v.xl {
          font-size: 1.6rem;
        }
        @include v.lg {
          margin: 15px 0 0;
          text-align: left;
        }
      }
      &-link {
        margin: 40px auto 0;
        display: block;
        padding: 12px 0;
        max-width: 270px;
        font-size: 1.8rem;
        text-align: center;
        background: #222;
        color: #fff;
        border-radius: 10px;
        transition: 0.5s;
        box-shadow: 3px 3px 10px #ccc;
        @include v.lg {
          margin: 15px auto 0;
        }
        &:hover,
        &:focus {
          background: #fff;
          color: #222;
          transition: 0.5s;
        }
      }
      &__btn {
        margin: 30px auto 0;
        width: 220px;
        @include v.lg {
          margin: 15px auto 0;
        }
      }
    }
  }
  .right {
    width: 50%;
    @include v.sm {
      width: 100%;
      position: relative;
      z-index: -1;
    }
    .works {
      &__thumb {
        width: 100%;
        height: 420px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
