.header {
  padding: 8px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.header__logo {
  width: 30px;
}
@media not screen and (min-width: 576px) {
  .header__logo {
    width: 24px;
  }
}
@media not screen and (min-width: 576px) {
  .header .g-nav {
    padding: 10% 5.3%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100vw;
    transition: 0.5s;
    background: #f7f7f7;
    touch-action: none;
  }
}
.header .g-nav__logo {
  display: none;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__logo {
    display: block;
    width: 24px;
    margin: 0 auto;
  }
}
.header .g-nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 0 16px;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh 0;
    margin: 20% 0 0;
  }
}
.header .g-nav__item {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__item {
    font-size: 2.4rem;
    color: #222;
  }
}
.header .g-nav.is-show {
  right: 0;
  transition: 0.5s;
}
.header .toggle-btn {
  display: none;
}
@media not screen and (min-width: 576px) {
  .header .toggle-btn {
    display: block;
    width: 35px;
    height: 25px;
    position: relative;
    z-index: 5;
  }
}
.header .toggle-btn span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: 0.5s;
}
.header .toggle-btn span:nth-child(1) {
  top: 30%;
  transform: translateY(-50%);
}
.header .toggle-btn span:nth-child(2) {
  top: 70%;
  transform: translateY(-50%);
}
.header .toggle-btn.is-active span {
  background: #222;
  transition: 0.5s;
}
.header .toggle-btn.is-active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .toggle-btn.is-active span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../images/webp/page-ttl_bg.webp) no-repeat top center/cover;
  height: 40vh;
}
.headline__txt {
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
  color: #fff;
}

.breadcrumbs {
  padding: 14px 0;
  border-bottom: 1px solid #e7e7e7;
}
.breadcrumbs.about {
  background: #222;
  color: #fff;
  border-bottom: 1px solid #7b7a7a;
}
.breadcrumbs span {
  font-size: 1.6rem;
  font-style: italic;
}
.breadcrumbs span:not(:last-of-type) {
  margin-right: 5px;
  text-underline-offset: 0.3em;
  opacity: 1;
  transition: opacity 0.5s;
}
.breadcrumbs span:not(:last-of-type):hover, .breadcrumbs span:not(:last-of-type):focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.breadcrumbs span:not(:first-of-type) {
  margin-left: 5px;
}

.profile {
  color: #fff;
}
.profile__ttl-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1%;
  opacity: 0.5;
}
.profile__ttl-wrap__txt {
  font-weight: 900;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  font-style: italic;
}
.profile .line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #ccc;
}
.profile__inner {
  position: relative;
}
.profile__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0 40px;
}
@media not screen and (min-width: 576px) {
  .profile__item {
    flex-direction: column-reverse;
    gap: 20px 0;
  }
}
.profile__item__txt {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  width: 50%;
}
@media not screen and (min-width: 576px) {
  .profile__item__txt {
    gap: 10px 0;
    width: 100%;
  }
}
.profile__item__txt-name {
  font-weight: 900;
  font-size: 3.2rem;
  font-style: italic;
}
@media not screen and (min-width: 576px) {
  .profile__item__txt-name {
    font-size: 2.4rem;
  }
}
.profile__item__txt-desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
}
@media not screen and (min-width: 576px) {
  .profile__item__txt-desc {
    font-size: 1.6rem;
  }
}
.profile__item-thumb {
  width: 50%;
}
@media not screen and (min-width: 576px) {
  .profile__item-thumb {
    width: 100%;
  }
}

.history {
  margin: 80px 0 0;
  color: #fff;
}
.history__inner {
  position: relative;
}
.history__ttl-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
  height: 100%;
  position: absolute;
  top: 0;
  right: 1%;
  transform: rotate(180deg);
  opacity: 0.5;
}
.history__ttl-wrap__txt {
  font-weight: 900;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  font-style: italic;
}
.history .line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #ccc;
}
.history__list {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
@media not screen and (min-width: 576px) {
  .history__list {
    gap: 20px 0;
  }
}
.history__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0 20px;
}
@media not screen and (min-width: 576px) {
  .history__item {
    gap: 0 10px;
  }
}
.history__item-desc {
  width: calc(100% - 30px);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8;
}
@media not screen and (min-width: 576px) {
  .history__item-desc {
    font-size: 1.6rem;
  }
}
.history__item-num {
  width: 40px;
  height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 2.8rem;
  text-align: center;
  position: relative;
}
@media not screen and (min-width: 576px) {
  .history__item-num {
    width: 34px;
    height: 34px;
    font-size: 2rem;
  }
}
.history__item-num:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media not screen and (min-width: 576px) {
  .history__item-num:before {
    top: 36%;
    width: 34px;
    height: 34px;
  }
}

.skill {
  margin: 80px 0 0;
  color: #fff;
}
.skill__inner {
  position: relative;
}
.skill__ttl-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1%;
  opacity: 0.5;
}
.skill__ttl-wrap__txt {
  font-weight: 900;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  font-style: italic;
}
.skill .line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #ccc;
}
.skill__list {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  text-align: center;
}
.skill__item {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  font-style: italic;
}
.skill__item-ttl {
  font-weight: 900;
  font-size: 2.8rem;
}
.skill__item-desc {
  font-weight: 400;
  font-size: 2rem;
}
@media not screen and (min-width: 576px) {
  .skill__item-desc {
    font-size: 1.6rem;
  }
}

.cta {
  background: url(../../images/webp/cta_bg02.webp) no-repeat center/cover;
  color: #fff;
}
@media not screen and (min-width: 576px) {
  .cta {
    background-position: 100% 100%;
  }
}
.cta__inner {
  padding: 80px 4%;
  position: relative;
}
.cta__txt {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.cta-ttl {
  font-weight: 900;
  font-size: 3.6rem;
}
@media not screen and (min-width: 1200px) {
  .cta-ttl {
    font-size: 2.4rem;
    line-height: 1.4;
  }
}
.cta-desc {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
}
@media not screen and (min-width: 1200px) {
  .cta-desc {
    font-size: 1.6rem;
  }
}
.cta__btn {
  display: inline-block;
  margin: 40px 0 0;
  padding: 14px 0;
  width: 240px;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  background: #fba525;
  border-radius: 5px;
}
@media not screen and (min-width: 992px) {
  .cta__btn {
    font-size: 1.8rem;
  }
}

.footer {
  padding: 40px 0 10px;
  background: #ccc;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0 100px;
}
.footer__logo {
  width: 40px;
}
@media not screen and (min-width: 576px) {
  .footer__logo {
    width: 24px;
  }
}
.footer .f-nav__list {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  margin: 20px 0 0;
}
.footer .f-nav__item {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s;
}
@media not screen and (min-width: 576px) {
  .footer .f-nav__item {
    font-size: 1.4rem;
  }
}
.footer .f-nav__item:hover, .footer .f-nav__item:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.footer__copy {
  margin: 60px 0 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  color: #fff;
}
@media not screen and (min-width: 576px) {
  .footer__copy {
    margin: 30px 0 0;
  }
}

.about {
  background: #222;
}