.header {
  padding: 8px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.header__logo {
  width: 30px;
}
@media not screen and (min-width: 576px) {
  .header__logo {
    width: 24px;
  }
}
@media not screen and (min-width: 576px) {
  .header .g-nav {
    padding: 10% 5.3%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100vw;
    transition: 0.5s;
    background: #f7f7f7;
    touch-action: none;
  }
}
.header .g-nav__logo {
  display: none;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__logo {
    display: block;
    width: 24px;
    margin: 0 auto;
  }
}
.header .g-nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 0 16px;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh 0;
    margin: 20% 0 0;
  }
}
.header .g-nav__item {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__item {
    font-size: 2.4rem;
    color: #222;
  }
}
.header .g-nav.is-show {
  right: 0;
  transition: 0.5s;
}
.header .toggle-btn {
  display: none;
}
@media not screen and (min-width: 576px) {
  .header .toggle-btn {
    display: block;
    width: 35px;
    height: 25px;
    position: relative;
    z-index: 5;
  }
}
.header .toggle-btn span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: 0.5s;
}
.header .toggle-btn span:nth-child(1) {
  top: 30%;
  transform: translateY(-50%);
}
.header .toggle-btn span:nth-child(2) {
  top: 70%;
  transform: translateY(-50%);
}
.header .toggle-btn.is-active span {
  background: #222;
  transition: 0.5s;
}
.header .toggle-btn.is-active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .toggle-btn.is-active span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../images/webp/page-ttl_bg.webp) no-repeat top center/cover;
  height: 40vh;
}
.headline__txt {
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
  color: #fff;
}

.breadcrumbs {
  padding: 14px 0;
  border-bottom: 1px solid #e7e7e7;
}
.breadcrumbs.about {
  background: #222;
  color: #fff;
  border-bottom: 1px solid #7b7a7a;
}
.breadcrumbs span {
  font-size: 1.6rem;
  font-style: italic;
}
.breadcrumbs span:not(:last-of-type) {
  margin-right: 5px;
  text-underline-offset: 0.3em;
  opacity: 1;
  transition: opacity 0.5s;
}
.breadcrumbs span:not(:last-of-type):hover, .breadcrumbs span:not(:last-of-type):focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.breadcrumbs span:not(:first-of-type) {
  margin-left: 5px;
}

.cta {
  background: url(../../images/webp/cta_bg02.webp) no-repeat center/cover;
  color: #fff;
}
@media not screen and (min-width: 576px) {
  .cta {
    background-position: 100% 100%;
  }
}
.cta__inner {
  padding: 80px 4%;
  position: relative;
}
.cta__txt {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.cta-ttl {
  font-weight: 900;
  font-size: 3.6rem;
}
@media not screen and (min-width: 1200px) {
  .cta-ttl {
    font-size: 2.4rem;
    line-height: 1.4;
  }
}
.cta-desc {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
}
@media not screen and (min-width: 1200px) {
  .cta-desc {
    font-size: 1.6rem;
  }
}
.cta__btn {
  display: inline-block;
  margin: 40px 0 0;
  padding: 14px 0;
  width: 240px;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  background: #fba525;
  border-radius: 5px;
}
@media not screen and (min-width: 992px) {
  .cta__btn {
    font-size: 1.8rem;
  }
}

.footer {
  padding: 40px 0 10px;
  background: #ccc;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0 100px;
}
.footer__logo {
  width: 40px;
}
@media not screen and (min-width: 576px) {
  .footer__logo {
    width: 24px;
  }
}
.footer .f-nav__list {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  margin: 20px 0 0;
}
.footer .f-nav__item {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s;
}
@media not screen and (min-width: 576px) {
  .footer .f-nav__item {
    font-size: 1.4rem;
  }
}
.footer .f-nav__item:hover, .footer .f-nav__item:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.footer__copy {
  margin: 60px 0 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  color: #fff;
}
@media not screen and (min-width: 576px) {
  .footer__copy {
    margin: 30px 0 0;
  }
}

.works-ttl {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}
@media not screen and (min-width: 576px) {
  .works-ttl {
    font-size: 2.8rem;
  }
}
.works-lead {
  margin: 40px 0 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
}
@media not screen and (min-width: 576px) {
  .works-lead {
    font-size: 1.6rem;
  }
}
.works__block {
  margin: 80px 0 0;
}
.works__block-ttl {
  font-weight: 900;
  font-size: 3.2rem;
  font-style: italic;
}
.works__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 40px;
  margin: 40px 0 0;
}
.works__item {
  border-radius: 10px;
  box-shadow: 0 0 10px #e7e7e7;
}
.works__item-link {
  position: relative;
  height: 100%;
}
@media (max-width: 768px) {
  .works__item-link {
    display: flex;
    flex-direction: column-reverse;
  }
}
.works__item-link::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(85, 85, 85, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
@media (max-width: 768px) {
  .works__item-link::before {
    display: none;
  }
}
.works__item-ttl {
  padding: 20px;
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}
@media (max-width: 768px) {
  .works__item-ttl {
    position: static;
    top: inherit;
    left: inherit;
    transform: inherit;
    color: #222;
    opacity: 1;
  }
}
.works__item-thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .works__item-thumb {
    border-radius: 10px 10px 0 0;
  }
}
.works__item-thumb img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
}
.works__item:hover .works__item-link::before, .works__item:focus .works__item-link::before {
  opacity: 1;
  transition: opacity 0.5s;
}
.works__item:hover .works__item-ttl, .works__item:focus .works__item-ttl {
  opacity: 1;
  transition: opacity 0.5s;
}
.works__item:hover .works__item-thumb img, .works__item:focus .works__item-thumb img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.works__btn {
  margin: 60px 0 0 auto;
}