.header {
  padding: 8px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.header__logo {
  width: 30px;
}
.header .g-nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 0 16px;
}
.header .g-nav__item {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
}

.breadcrumbs {
  padding: 14px 0;
  border-bottom: 1px solid #e7e7e7;
}
.breadcrumbs.about {
  background: #222;
  color: #fff;
  border-bottom: 1px solid #7b7a7a;
}
.breadcrumbs span {
  font-size: 1.6rem;
  font-style: italic;
}
.breadcrumbs span:not(:last-of-type) {
  margin-right: 5px;
  text-underline-offset: 0.3em;
  opacity: 1;
  transition: opacity 0.5s;
}
.breadcrumbs span:not(:last-of-type):hover, .breadcrumbs span:not(:last-of-type):focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.breadcrumbs span:not(:first-of-type) {
  margin-left: 5px;
}

.footer {
  padding: 40px 0 10px;
  background: #ccc;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0 100px;
}
.footer__logo {
  width: 40px;
}
.footer .f-nav__list {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  margin: 20px 0 0;
}
.footer .f-nav__item {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s;
}
.footer .f-nav__item:hover, .footer .f-nav__item:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.footer__copy {
  margin: 60px 0 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  color: #fff;
}