.header {
  padding: 8px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.header__logo {
  width: 30px;
}
.header .g-nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 0 16px;
}
.header .g-nav__item {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../images/webp/page-ttl_bg.webp) no-repeat top center/cover;
  height: 40vh;
}
.headline__txt {
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
  color: #fff;
}

.coding {
  padding: 60px 0;
}
.coding-ttl {
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}
.coding__list {
  margin: 60px 0 0;
  display: flex;
  flex-direction: column;
  gap: 140px 0;
}
.coding__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coding__item:nth-child(even) {
  flex-direction: row-reverse;
}
.coding__item:nth-child(even) .coding__txt {
  margin: 0 0 0 -100px;
}
.coding__txt {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  margin: 0 -100px 0 0;
  padding: 60px;
  max-width: 650px;
  width: 100%;
  background: rgba(247, 247, 247, 0.7);
  position: relative;
  z-index: 2;
}
.coding__txt__head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0 10px;
}
.coding__txt__head-ttl {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.4;
}
.coding__txt__head-num {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 5rem;
}
.coding__txt-desc {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
}
.coding__thumb {
  max-width: 650px;
  width: 100%;
}

.cta {
  background: url(../../images/webp/cta_bg02.webp) no-repeat center/cover;
  color: #fff;
}
.cta__inner {
  padding: 80px 4%;
  position: relative;
}
.cta__txt {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.cta-ttl {
  font-weight: 900;
  font-size: 4rem;
}
.cta-desc {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
}
.cta__btn {
  display: inline-block;
  margin: 40px 0 0;
  padding: 14px 0;
  width: 240px;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  background: #fba525;
  border-radius: 5px;
}

.footer {
  padding: 40px 0 10px;
  background: #ccc;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0 100px;
}
.footer__logo {
  width: 40px;
}
.footer .f-nav__list {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  margin: 20px 0 0;
}
.footer .f-nav__item {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s;
}
.footer .f-nav__item:hover, .footer .f-nav__item:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.footer__copy {
  margin: 60px 0 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  color: #fff;
}

.service-ttl {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}