@use "../base/variable" as v;
@use "../util/header";
@use "../util/headline";
@use "../util/breadcrumbs";
@use "../util/cta";
@use "../util/footer";

.works {
  &-ttl {
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
  }
  &-lead {
    margin: 40px 0 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;
  }
  &__block {
    &-ttl {
      font-weight: 900;
      font-size: 4rem;
      font-style: italic;
      text-align: center;
    }
    &-lead {
      margin: 40px 0 0;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.6;
      text-align: center;
      @include v.sm {
        font-size: 1.6rem;
        letter-spacing: -0.02em;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 40px;
    margin: 60px 0 0;
  }
  &__item {
    border-radius: 10px;
    box-shadow: 0 0 10px #e7e7e7;
    &-link {
      position: relative;
      height: 100%;
      &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba($color: #555, $alpha: 0.5);
        opacity: 0;
        transition: opacity 0.5s;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
    &-ttl {
      padding: 20px;
      width: 100%;
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.5;
      letter-spacing: 0.04em;
      text-align: center;
      color: #fff;
      opacity: 0;
      transition: opacity 0.5s;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 2;
    }
    &-thumb {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      img {
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
      }
    }
    &:hover,
    &:focus {
      .works__item {
        &-link {
          &::before {
            opacity: 1;
            transition: opacity 0.5s;
          }
        }
        &-ttl {
          opacity: 1;
          transition: opacity 0.5s;
        }
        &-thumb {
          img {
            transform: scale(1.1);
            transition: transform 0.5s;
          }
        }
      }
    }
  }
}
